
body {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.smallSpace {
  height: 40px;
}

.centerSmallSeperator {
  border: 2px solid #fff;
  width: 175px;
  margin: 0px auto;
}

.centerExSmallSeperator {
  border: 1px solid #f00;
  width: 75px;
  margin: 0px auto;
}

.whiteSmallBreak {
  border: 1px solid white;
  width: 150px;
  margin: 10px auto;
}

.headerIcon {
  width: 100px;
  height: 100px;
  color: white;
  border: 2px solid red;
  background: red;
  border-radius: 100%;
  line-height: 100px;
}

.left {
  float: left;
}

.right {
  float: right;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* ############################
            Container
############################ */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}
.text-center {
  text-align: center;
}
.vh-100 {
  height: 100vh;
}
/* ############################
            Banner
############################ */
.banner {
  position: relative;
  height: 100vh;
  max-width: 100%;
  margin-bottom: 2rem;
}
.banner_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.banner_title {
  position: absolute;
  bottom: 10rem;
  left: 3rem;
}
.banner_title img {
  width: 75%;
}
/*.img-about {
  width: 100%;
  max-height: 18rem;
}*/
/* ############################
            Titles
############################ */
h1 {
  color: white !important;
  margin-bottom: 2rem;
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 600;
}
@media (max-width: 991px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
<<<<<<< HEAD
}
/* ############################
          Arrow down
############################ */
.arrow{
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
=======
}
/* ############################
          Arrow down
############################ */
.arrow{
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* ############################
            Navs
############################ */
.nav-tabs {
  border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: 1px solid #000;
  border-radius: 4rem;
  background-color: #000B16;
  color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  background-color: #fff;
  border-radius: 4rem;
  color: #000B16;
  border: 1px solid #000B16;
  font-size: 0.9rem;
}
/* ############################
            Sections
############################ */
.contact {
  background-color: #eaf4ff;
}
.competences_section .img-projects {
  width: 40%;
}
@media (max-width: 991px) {
  .competences_section .img-projects {
    width: 80%;
  }
}
.description {
  font-size: 18px;
>>>>>>> 870769e9405dee74db0f15937a16803b06823a0f
}
/* ############################
            Navs
############################ */
<<<<<<< HEAD
.nav-tabs {
  border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: 1px solid #000;
  border-radius: 4rem;
  background-color: #000B16;
  color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  background-color: #fff;
  border-radius: 4rem;
  color: #000B16;
  border: 1px solid #000B16;
  font-size: 0.9rem;
=======
.img_skills {
  height: 3rem;
  margin: 1rem;
}
.img_skills_small {
  height: 2rem;
  margin: 1rem;
  margin-top: 1.9rem;
}
.about_section .profile_picture {
  width: 27%;
>>>>>>> 267f31610d1213161723be2d6637722c43169a03
}
/* ############################
<<<<<<< HEAD
            Sections
############################ */
.contact {
  background-color: #eaf4ff;
}
.competences_section .img-projects {
  width: 40%;
}
@media (max-width: 991px) {
  .competences_section .img-projects {
    width: 80%;
  }
}
.description {
  font-size: 18px;
}
/* ############################
          Skills logo
############################ */
.img_skills {
  height: 3rem;
  margin: 1rem;
}
.img_skills_small {
  height: 2rem;
  margin: 1rem;
  margin-top: 1.9rem;
}
.about_section .profile_picture {
  width: 27%;
}
/* ############################
          Colors
############################ */
.text-white {
  color: #fff;
}
=======
          Colors
############################ */
.text-white {
  color: #fff;
}
>>>>>>> 870769e9405dee74db0f15937a16803b06823a0f

/* ############################
         About Icons
############################ */


.about .aboutIcon {
  width: 100px;
  height: 100px;
  color: #f00;
  border: 2px solid rgba(230, 230, 230, 1);
  background: white;
  border-radius: 100%;
  line-height: 95px;
  font-size: 40px;
}
.aboutme-section{
  color: rgba(44, 45, 45, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px auto;
}

.aboutIconColumn {
  padding: 25px;
  display: none;
}
.about h3{
  color: rgba(44, 45, 45, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px auto;
  padding-top: 14px;
}

.aboutIconColumn h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin: 20px auto;
}

.aboutIconColumn p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 20px auto;
}

/* ############################
            Services
############################ */


/* ############################
            Contact
############################ */

.email i {
  font-size: 3rem;
  color: #000;
}



/* ############################
            Footer
############################ */

footer {
  border-top: 1px solid rgba(210, 210, 210, 1);
}

footer p {
  font-family: 'Raleway', sans-serif;
  color: rgba(200, 200, 200, 1);
  text-transform: uppercase;
  margin: 15px auto;
  font-size: 15px;
}
a.email_me{
  color: red;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
